<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <atlanticbt_llmsgenerator>
            <settings>
                <enabled>0</enabled>
                <site_description/>
                <site_title/>
                <llm_instruction/>
                <content_types/>
                <custom_file_directives/>
                <company_info_pages/>
                <frequency>W</frequency>
            </settings>
        </atlanticbt_llmsgenerator>
    </default>
</config>


