<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="llms" frontName="llms">
            <module name="BCMarketplace_LLMsFeeder" before="Magento_Cms"/>
        </route>
    </router>
    
    <!-- Direct route for llms.txt -->
    <router id="standard">
        <route id="llms_direct" frontName="llms.txt">
            <module name="BCMarketplace_LLMsFeeder" before="Magento_Cms"/>
        </route>
    </router>
</config>
